@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar-custom{
    background-color: #002944;
}

.tales {
    width: 100%;
}
.carousel-inner{
    width:100%;
    max-height: 200px !important;
}
