@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navbar-custom{
    background-image: linear-gradient( #004B7C,#00263E);
}



.img-college,.img-college-2{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;



    background-attachment:fixed;
}

.img-college{
    background-image:url('../../images/college1.jpg');
    min-height:700px;
}

.img-college-2{
    background-image:url('../../images/college2.PNG');
    min-height:700px;
}